
.search-input {
    width: 320px;
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 6px 376px 6px 13px;
    background-color: #0d1117; 
    color: #c9d1d9;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    border-color: #0073e6;
    outline: none;
}